<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration        
    PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"        
    "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
	<configuration>
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	<typeAliases>
		<!-- 竞彩 -->
		<!-- 话题精彩 -->
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_EN_ETH" alias="T_LOTO_EN_ETH"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_EN_GTO" alias="T_LOTO_EN_GTO"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_EN_UZ" alias="T_LOTO_EN_UZ"></typeAlias>
        <!-- 邀请码 -->
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_INVCODE" alias="T_LOTO_INVCODE"></typeAlias>
		<!-- 奖励机制 -->
		<typeAlias type="com.longti.upjc.entity.sporttery.TAB_DICT" alias="TAB_DICT"></typeAlias>
		<typeAlias type="com.longti.upjc.entity.sporttery.TAB_CHIP" alias="TAB_CHIP"></typeAlias>
		
		
		<!-- 竞彩比赛日 -->
		<typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_E" alias="T_LOTO_E"></typeAlias>
		<typeAlias type="com.longti.upjc.entity.sporttery.LOTO_F" alias="LOTO_F"></typeAlias>	
		<typeAlias type="com.longti.upjc.entity.sporttery.LOTO_ORDER" alias="LOTO_ORDER"></typeAlias>
		<typeAlias type="com.longti.upjc.entity.sporttery.V_ORDER" alias="V_ORDER"></typeAlias>		
		<typeAlias type="com.longti.upjc.entity.sporttery.T_CONTROL" alias="T_CONTROL"></typeAlias>	
		
		<typeAlias type="com.longti.upjc.entity.sporttery.V_SALEDAY" alias="V_SALEDAY"></typeAlias>
		<typeAlias type="com.longti.upjc.entity.sporttery.V_PRECENT_F" alias="V_PRECENT_F"></typeAlias>
		<typeAlias type="com.longti.upjc.entity.sporttery.V_LEAGUE" alias="V_LEAGUE"></typeAlias>
		
		
		<typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_SIS_E" alias="T_LOTO_SIS_E"></typeAlias>
		<typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_SIS_F" alias="T_LOTO_SIS_F"></typeAlias>
		
		<typeAlias type="com.longti.upjc.entity.sporttery.T_USER" alias="T_USER"></typeAlias>
		
		<typeAlias type="com.longti.upjc.entity.sporttery.T_QUOTATION_CONTROL" alias="T_QUOTATION_CONTROL"></typeAlias>
		
	</typeAliases>
	<mappers>
		<!-- 竞彩 -->
		<!-- 话题精彩 -->
		<mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_EN_ETH.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_EN_GTO.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_EN_UZ.xml" />
		<!-- 邀请码 -->
		<mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_INVCODE.xml" />
		<!-- 奖励机制 -->
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_DICT.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_CHIP.xml" />
		
		<!-- 竞彩比赛日 -->	
		<mapper resource="com/longti/upjc/sporttery/mapping/LOTO_F.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_E.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/LOTO_FN.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_EN.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/LOTO_ORDER.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/LOTO_ORDER_E.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/V_ORDER.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/V_ORDER_E.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/T_CONTROL.xml" />
		
		<mapper resource="com/longti/upjc/sporttery/mapping/V_SALEDAY.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/V_PRECENT_F.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/V_LEAGUE.xml" />
		
		
		<mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_SIS_F.xml" />
		<mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_SIS_E.xml" />
		
		<mapper resource="com/longti/upjc/sporttery/mapping/T_USER.xml" />
		
		<mapper resource="com/longti/upjc/sporttery/mapping/T_QUOTATION_CONTROL.xml" />
	</mappers>
</configuration>
