<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration        
    PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"        
    "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
    <configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeAliases>
        <!-- 竞彩 -->
        <!-- 话题精彩 -->
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_EN_ETH" alias="T_LOTO_EN_ETH"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_EN_GTO" alias="T_LOTO_EN_GTO"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_EN_UZ" alias="T_LOTO_EN_UZ"></typeAlias>
        <!-- 邀请码 -->
        <typeAlias type="com.longti.upjc.entity.sporttery.T_USER_INVCODE" alias="T_USER_INVCODE"></typeAlias>
        <!-- 奖励机制 -->
        <typeAlias type="com.longti.upjc.entity.sporttery.TAB_DICT" alias="TAB_DICT"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.TAB_CHIP" alias="TAB_CHIP"></typeAlias>
        <!-- 话题统计 -->
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_SIS_E_ETH" alias="T_LOTO_SIS_E_ETH"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_SIS_E_GTO" alias="T_LOTO_SIS_E_GTO"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_SIS_E_UZ" alias="T_LOTO_SIS_E_UZ"></typeAlias>
        <!-- 多语言 -->
        <typeAlias type="com.longti.upjc.entity.sporttery.TAB_LEAGUENAME_LANG" alias="TAB_LEAGUENAME_LANG"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.TAB_TEAMNAME_LANG" alias="TAB_TEAMNAME_LANG"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.TAB_PLAYMETHOD_LANG" alias="TAB_PLAYMETHOD_LANG"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.TAB_OPTIONS_LANG" alias="TAB_OPTIONS_LANG"></typeAlias> 
        
        <!-- 竞彩比赛日 -->
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_E" alias="T_LOTO_E"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.LOTO_F" alias="LOTO_F"></typeAlias>   
        <typeAlias type="com.longti.upjc.entity.sporttery.LOTO_ORDER" alias="LOTO_ORDER"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.V_ORDER" alias="V_ORDER"></typeAlias>     
        
        <typeAlias type="com.longti.upjc.entity.sporttery.V_SALEDAY" alias="V_SALEDAY"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.V_PRECENT_F" alias="V_PRECENT_F"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.V_LEAGUE" alias="V_LEAGUE"></typeAlias>
        
        
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_SIS_E" alias="T_LOTO_SIS_E"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.T_LOTO_SIS_F" alias="T_LOTO_SIS_F"></typeAlias>
        
        <typeAlias type="com.longti.upjc.entity.sporttery.T_USER" alias="T_USER"></typeAlias>
        
        <typeAlias type="com.longti.upjc.entity.sporttery.TAB_SALES_THRESHOLD" alias="TAB_SALES_THRESHOLD"></typeAlias>
        
        <typeAlias type="com.longti.upjc.entity.sporttery.TAB_WARN_MESSAGE" alias="TAB_WARN_MESSAGE"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.TAB_WARN_RECEIVE" alias="TAB_WARN_RECEIVE"></typeAlias>
        <typeAlias type="com.longti.upjc.entity.sporttery.TAB_WARN_SETTING" alias="TAB_WARN_SETTING"></typeAlias>
    </typeAliases>
    <mappers>
        <!-- 竞彩 -->
        <!-- 话题精彩 -->
        <mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_EN_ETH.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_EN_GTO.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_EN_UZ.xml" />
        <!-- 邀请码 -->
        <mapper resource="com/longti/upjc/sporttery/mapping/T_USER_INVCODE.xml" />
        <!-- 奖励机制 -->
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_DICT.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_CHIP.xml" />
        <!-- 话题统计 -->
        <mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_SIS_E_ETH.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_SIS_E_GTO.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_SIS_E_UZ.xml" />
         <!-- 多语言 -->
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_LEAGUENAME_LANG.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_TEAMNAME_LANG.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_PLAYMETHOD_LANG.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_OPTIONS_LANG.xml" />
        
        <!-- 竞彩比赛日 -->  
        <mapper resource="com/longti/upjc/sporttery/mapping/LOTO_F.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_E.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/LOTO_FN.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_EN.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/LOTO_ORDER.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/V_ORDER.xml" />
        
        <mapper resource="com/longti/upjc/sporttery/mapping/V_SALEDAY.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/V_PRECENT_F.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/V_LEAGUE.xml" />
        
        
        <mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_SIS_F.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/T_LOTO_SIS_E.xml" />
        
        <mapper resource="com/longti/upjc/sporttery/mapping/T_USER.xml" />
        
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_SALES_THRESHOLD.xml" />
        
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_WARN_MESSAGE.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_WARN_RECEIVE.xml" />
        <mapper resource="com/longti/upjc/sporttery/mapping/TAB_WARN_SETTING.xml" />
    </mappers>
</configuration>
